@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --backgorund-color: #f1f6f9;
  --primary-color: #14274e;
  --secondary-color: #394867;
  --neutral-color: #9ba4b4;
  background-color: var(--backgorund-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ant-btn.ant-btn-primary {
  background-color: var(--secondary-color);
}

.ant-btn.ant-btn-primary:hover {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-btn.ant-btn-default:hover {
  background-color: var(--secondary-color) !important;
  border-color: var(--secondary-color) !important;
  color: white !important;
}

.ant-btn.ant-btn-dangerous {
  color: black !important;
  background-color: #ff4d4f !important;
}

.ant-btn.ant-btn-dangerous:hover {
  color: black !important;
  background-color: #ff4d4f !important;
  border-color: #ff4d4f !important;
  opacity: 0.7 !important;
}

.ant-btn.success {
  color: black !important;
  background-color: #52c41a !important;
}

.ant-btn.success:hover {
  color: black !important;
  background-color: #52c41a !important;
  border-color: #52c41a !important;
  opacity: 0.7 !important;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 1rem 0;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid var(--primary-color);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: var(--primary-color) transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.modal {
  margin: 0;
  padding: 2rem;
  position: fixed;
  top: 10vh;
  left: calc(50% - 15rem);
  width: 30rem;
  max-height: 80vh;
  background: #e2e5eb;
  border: none;
  border-radius: 6px;
  z-index: 100;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: slide-down-fade-in 300ms ease-out forwards;
}

.modal::backdrop {
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slide-down-fade-in {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
